

.pixelify-sans-pixelFont {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body
{
    background-image: url(Imagem/old_page.png) , url(Imagem/florest.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center , center;
    background-attachment: fixed, fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    
}


/* Ui */
.mainCircle
{
   
}


#roundCircle1
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 38%;
 
}

#roundCircle1Text
{
    position: absolute;
    top: 39%;
    left: 41%;
    font-size: 30px;
}

#success1
{
    
    position: absolute;
    top: 39%;
    left: 40%;
    height: 44px;
}

#fail1
{
    position: absolute;
    top: 39%;
    left: 40%;
    height: 44px;
}

#roundCircle2
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 42%;
 
}

#roundCircle2Text
{
    position: absolute;
    top: 39%;
    left: 45%;
    font-size: 30px;
}
#success2
{
    position: absolute;
    top: 39%;
    left: 44%;
    height: 44px;
}


#fail2
{
    position: absolute;
    top: 39%;
    left: 44%;
    height: 44px;
}

#roundCircle3
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 46%;
 
}

#roundCircle3Text
{
    position: absolute;
    top: 39%;
    left: 49%;
    font-size: 30px;
}

#success3
{
    position: absolute;
    top: 39%;
    left: 48%;
    height: 44px;
}

#fail3
{
    position: absolute;
    top: 39%;
    left: 48%;
    height: 44px;
}

#roundCircle4
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 50%;
 
}

#roundCircle4Text
{
    position: absolute;
    top: 39%;
    left: 53%;
    font-size: 30px;
}

#success4
{
    position: absolute;
    top: 39%;
    left: 52%;
    height: 44px;
}

#fail4
{
    position: absolute;
    top: 39%;
    left: 52%;
    height: 44px;
}

#roundCircle5
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 54%;
 
}

#roundCircle5Text
{
    position: absolute;
    top: 39%;
    left: 57%;
    font-size: 30px;
}

#success5
{
    position: absolute;
    top: 39%;
    left: 56%;
    height: 44px;
}

#fail5
{
    position: absolute;
    top: 39%;
    left: 56%;
    height: 44px;
}

.FailsReq
{
    position: absolute;
    top: 46%;
    left: 51%;
    font-size: 15px;
    
}

/* Reward Circle*/

#roundCircleReward1
{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 55%;
    left: 41%
}

#roundCircleReward1Text
{
    position: absolute;
    top: 58%;
    left: 43%;
    font-size: 20px;
}

#roundCircleMedalRewardIMG1
{
    position: absolute;
    top: 57%;
    left: 42%;
    width: 42px;
    height: 40px;
}

#roundCircleReward2
{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 55%;
    left: 44%
}

#roundCircleReward2Text
{
    position: absolute;
    top: 58%;
    left: 46%;
    font-size: 20px;
}

#roundCircleMedalRewardIMG2
{
    position: absolute;
    top: 57%;
    left: 45%;
    width: 42px;
    height: 40px;
}

#roundCircleReward3
{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 55%;
    left: 47%
}

#roundCircleReward3Text
{
    position: absolute;
    top: 58%;
    left: 49%;
    font-size: 20px;
}

#roundCircleMedalRewardIMG3
{
    position: absolute;
    top: 57%;
    left: 48%;
    width: 42px;
    height: 40px;
}

#roundCircleReward4
{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 55%;
    left: 50%
}

#roundCircleReward4Text
{
    position: absolute;
    top: 58%;
    left: 52%;
    font-size: 20px;
}

#roundCircleMedalRewardIMG4
{
    position: absolute;
    top: 57%;
    left: 51%;
    width: 42px;
    height: 40px;
}

#roundCircleReward5
{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 55%;
    left: 53%
}


#roundCircleReward5Text
{
    position: absolute;
    top: 58%;
    left: 55%;
    font-size: 20px;
}

#roundCircleMedalRewardIMG5
{
    position: absolute;
    top: 57%;
    left: 54%;
    width: 42px;
    height: 40px;
}

#gameStatus
{
    position: absolute;
    top: 65%;
    left: 43%;
    font-size: 10px;
}


#playerStatus
{
    position: absolute;
    top: 65%;
    left: 54%;
    font-size: 20px;
}

/* --------------------------------------------------------------------------------------------------------------------*/

/* UserCircle Inicio*/

#userCircle1
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 45%;
    top: 2%; 

}

#userCircle2
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 55%;
    top: 10%; 

}

#userCircle3
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    right: 55%;
    top: 10%; 

}

#userCircle4
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 61%;
    top: 25%; 
}

#userCircle5
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    right: 61%;
    top: 25%; 
}

#userCircle6
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 45%;
    bottom: 7%; 

}

#userCircle7
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 55%;
    bottom: 13%; 

}

#userCircle8
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    right: 55%;
    bottom: 13%; 

}

#userCircle9
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 61%;
    bottom: 28%; 
}

#userCircle10
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    right: 61%;
    bottom: 28%; 
}

/* UserCircle Fim*/

/* Crown */
.crownIMG1
{
    position: absolute;
    height: 120px;
    left: 50%;
    top: 1%; 
    z-index: 2;
}

.crownIMG2
{
    position: absolute;
    height: 120px;
    left: 60%;
    top: 8%; 
    z-index: 2;
}

.crownIMG3
{
    position: absolute;
    height: 120px;
    right: 52%;
    top: 8%; 
    z-index: 2;
}

.crownIMG4
{
    position: absolute;
    height: 120px;
    left: 66%;
    top: 23%; 
    z-index: 2;
}

.crownIMG5
{
    position: absolute;
    height: 120px;
    right: 58%;
    top: 23%;
    z-index: 2;
}

.crownIMG6
{
    position: absolute;
    height: 120px;
    left: 50%;
    bottom: 13%; 
    z-index: 2;
}

.crownIMG7
{
    position: absolute;
    height: 120px;
    left: 60%;
    bottom: 20%;  
    z-index: 2;
}

.crownIMG8
{
    position: absolute;
    height: 120px;
    right: 52%;
    bottom: 19%; 
    z-index: 2;
}

.crownIMG9
{
    position: absolute;
    height: 120px;
    left: 66%;
    bottom: 34%; 
    z-index: 2;
}

.crownIMG10
{
    position: absolute;
    height: 120px;
    right: 58%;
    bottom: 34%;
    z-index: 2;

}

/* Wooden_Sword*/
.wooden_swordIMG1
{
    position: absolute;
    height: 150px;
    left: 41%;
    top: 1%; 
    
}

.wooden_swordIMG2
{
    position: absolute;
    height: 150px;
    left: 51%;
    top: 8%; 
    
}

.wooden_swordIMG3
{
    position: absolute;
    height: 150px;
    right: 59%;
    top: 8%; 
    
}

.wooden_swordIMG4
{
    position: absolute;
    height: 150px;
    left: 57%;
    top: 23%; 
    
}

.wooden_swordIMG5
{
    position: absolute;
    height: 150px;
    right: 65%;
    top: 23%;
    
}

.wooden_swordIMG6
{
    position: absolute;
    height: 150px;
    left: 41%;
    bottom: 8%; 
    
}

.wooden_swordIMG7
{
    position: absolute;
    height: 150px;
    left: 51%;
    bottom: 14%; 
    
}

.wooden_swordIMG8
{
    position: absolute;
    height: 150px;
    left: 31%;
    bottom: 14%; 
    
}

.wooden_swordIMG9
{
    position: absolute;
    height: 150px;
    left: 57%;
    bottom: 30%; 
    
}
.wooden_swordIMG10
{
    position: absolute;
    height: 150px;
    left: 25%;
    bottom: 30%; 
    
}

/* nameBar Começo*/



#nameBar1
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 46%;
    top: 20%; 
    z-index: 1;
    
   
}

#nameBar2
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 56%;
    top: 28%; 
    z-index: 1;
    
   
}

#nameBar3
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    right: 56%;
    top: 28%; 
    z-index: 1;
    
   
}

#nameBar4
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 62%;
    top: 43%; 
    z-index: 1;
}

#nameBar5
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    right: 62%;
    top: 43%; 
    z-index: 1;
}

#nameBar6
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 46%;
    bottom: 6%; 
    z-index: 1;
}

#nameBar7
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 56%;
    bottom: 12%; 
    z-index: 1;
}

#nameBar8
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    right: 56%;
    bottom: 12%; 
    z-index: 1;
}

#nameBar9
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 62%;
    bottom: 27%; 
    z-index: 1;
}


#nameBar10
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    right: 62%;
    bottom: 27%; 
    z-index: 1;
}
/* nameBar Fim*/

/* ---------- Media Query Começo ----------*/

@media only screen and (min-width: 375px) and (max-width: 667px) {
    
.mainCircle
{
    width: 150px;

}
    #userCircle1
{
   
    position: absolute;
    height: 45px;
    width: 45px;
    left: 45%;
    top: 5%; 

}

    #userCircle2
{
    
    position: absolute;
    height: 45px;
    width: 45px;
    left: 45%;
    top: 5%; 

}

#userCircle3
{
    
    position: absolute;
    height: 45px;
    width: 45px;
   

}

#userCircle4
{
    
    position: absolute;
    height: 45px;
    width: 45px;
   

}

#userCircle5
{
    
    position: absolute;
    height: 45px;
    width: 45px;
    

}

#userCircle6
{
   
    position: absolute;
    height: 45px;
    width: 45px;
    

}

#userCircle7
{
   
    position: absolute;
    height: 45px;
    width: 45px;
   

}

#userCircle8
{
   
    position: absolute;
    height: 45px;
    width: 45px;
  

}

#userCircle9
{
    
    position: absolute;
    height: 45px;
    width: 45px;
    

}

#userCircle10
{
    position: absolute;
    height: 45px;
    width: 45px;
    

}

/* Crown */
.crownIMG1
{
    position: absolute;
    height: 40px;
    left: 50%;
    top: 1%; 
    z-index: 2;
}

.crownIMG2
{
    position: absolute;
    height: 40px;
    left: 60%;
    top: 8%; 
    z-index: 2;
}

.crownIMG3
{
    position: absolute;
    height: 40px;
    right: 52%;
    top: 8%; 
    z-index: 2;
}

.crownIMG4
{
    position: absolute;
    height: 40px;
    left: 66%;
    top: 23%; 
    z-index: 2;
}

.crownIMG5
{
    position: absolute;
    height: 40px;
    right: 58%;
    top: 23%;
    z-index: 2;
}

.crownIMG6
{
    position: absolute;
    height: 40px;
    left: 50%;
    bottom: 13%; 
    z-index: 2;
}

.crownIMG7
{
    position: absolute;
    height: 40px;
    left: 60%;
    bottom: 20%;  
    z-index: 2;
}

.crownIMG8
{
    position: absolute;
    height: 40px;
    right: 52%;
    bottom: 19%; 
    z-index: 2;
}

.crownIMG9
{
    position: absolute;
    height: 40px;
    left: 66%;
    bottom: 34%; 
    z-index: 2;
}

.crownIMG10
{
    position: absolute;
    height: 40px;
    right: 58%;
    bottom: 34%;
    z-index: 2;

}



/* Wooden_Sword*/
.wooden_swordIMG1
{
    position: absolute;
    height: 50px;
    left: 41%;
    top: 1%; 
    
}

.wooden_swordIMG2
{
    position: absolute;
    height: 50px;
    left: 51%;
    top: 8%; 
    
}

.wooden_swordIMG3
{
    position: absolute;
    height: 50px;
    right: 59%;
    top: 8%; 
    
}

.wooden_swordIMG4
{
    position: absolute;
    height: 50px;
    left: 57%;
    top: 23%; 
    
}

.wooden_swordIMG5
{
    position: absolute;
    height: 50px;
    right: 65%;
    top: 23%;
    
}

.wooden_swordIMG6
{
    position: absolute;
    height: 50px;
    left: 41%;
    bottom: 8%; 
    
}

.wooden_swordIMG7
{
    position: absolute;
    height: 50px;
    left: 51%;
    bottom: 14%; 
    
}

.wooden_swordIMG8
{
    position: absolute;
    height: 50px;
    left: 31%;
    bottom: 14%; 
    
}

.wooden_swordIMG9
{
    position: absolute;
    height: 50px;
    left: 57%;
    bottom: 30%; 
    
}
.wooden_swordIMG10
{
    position: absolute;
    height: 50px;
    left: 25%;
    bottom: 30%; 
    
}


  }
  

/* ---------- Media Query Fim -------------*/