body
{
    background-image: url(Imagem/old_page.png) , url(Imagem/florest.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center , center;
    background-attachment: fixed, fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Ui */
.mainCircle
{
   
}


#roundCircle1
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 38%;
 
}

#roundCircle2
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 42%;
 
}

#roundCircle3
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 46%;
 
}

#roundCircle4
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 50%;
 
}

#roundCircle5
{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 35%;
    left: 54%;
 
}

/* --------------------------------------------------------------------------------------------------------------------*/

/* UserCircle Inicio*/

#userCircle1
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 45%;
    top: 2%; 

}

#userCircle2
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 55%;
    top: 10%; 

}

#userCircle3
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    right: 55%;
    top: 10%; 

}

#userCircle4
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 61%;
    top: 25%; 
}

#userCircle5
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    right: 61%;
    top: 25%; 
}

#userCircle6
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 45%;
    bottom: 7%; 

}

#userCircle7
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 55%;
    bottom: 13%; 

}

#userCircle8
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    right: 55%;
    bottom: 13%; 

}

#userCircle9
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    left: 61%;
    bottom: 28%; 
}

#userCircle10
{
    background-image: url(Imagem/Circle2_Background.png);
    background-size: cover;
    position: absolute;
    height: 150px;
    right: 61%;
    bottom: 28%; 
}

/* UserCircle Fim*/

/* Crown */
.crownIMG1
{
    position: absolute;
    height: 120px;
    left: 50%;
    top: 1%; 
}

.crownIMG2
{
    position: absolute;
    height: 120px;
    left: 60%;
    top: 8%; 
}

.crownIMG3
{
    position: absolute;
    height: 120px;
    right: 52%;
    top: 8%; 
}

.crownIMG4
{
    position: absolute;
    height: 120px;
    left: 66%;
    top: 23%; 
}

.crownIMG5
{
    position: absolute;
    height: 120px;
    right: 58%;
    top: 23%;

}

.crownIMG6
{
    position: absolute;
    height: 120px;
    left: 50%;
    bottom: 13%; 

}

.crownIMG7
{
    position: absolute;
    height: 120px;
    left: 60%;
    bottom: 20%;  

}

.crownIMG8
{
    position: absolute;
    height: 120px;
    right: 52%;
    bottom: 19%; 

}

.crownIMG9
{
    position: absolute;
    height: 120px;
    left: 66%;
    bottom: 34%; 

}

.crownIMG10
{
    position: absolute;
    height: 120px;
    right: 58%;
    bottom: 34%;

}


/* nameBar Começo*/



#nameBar1
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 46%;
    top: 20%; 
  
    
   
}

#nameBar2
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 56%;
    top: 28%; 
  
    
   
}

#nameBar3
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    right: 56%;
    top: 28%; 
  
    
   
}

#nameBar4
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 62%;
    top: 43%; 
  
}

#nameBar5
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    right: 62%;
    top: 43%; 
  
}

#nameBar6
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 46%;
    bottom: 6%; 
  
}

#nameBar7
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 56%;
    bottom: 12%; 
  
}

#nameBar8
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    right: 56%;
    bottom: 12%; 
  
}

#nameBar9
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    left: 62%;
    bottom: 27%; 
  
}


#nameBar10
{
    background-image: url(Imagem/nameBar.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 110px;
    height: 23px;
    font-size: 13px;
    scrollbar-width: none;
    overflow-x: scroll;
    position: absolute;
    right: 62%;
    bottom: 27%; 
  
}
/* nameBar Fim*/